<ion-view view-title="MyHandyMan Dashboard">
  <ion-content class="padding" overflow-scroll="true" ng-controller="DashCtrl">
    <div class="list card">
      <div class="item item-divider">My Complains</div>
      <div class="item item-body">
        <div>
          <a class="button icon-right ion-chevron-right button-calm" ng-click="complain()">File a Complain</a>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Check Status</div>
      <div class="item item-body">
        <div>
         <a class="button icon-right ion-chevron-right button-calm">Check Status</a>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Notification</div>
      <div class="item item-body">
        <div>
          <a class="button icon-right ion-chevron-right button-calm">Notification</a>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Suggestions</div>
      <div class="item item-body">
        <div>
          <a class="button icon-right ion-chevron-right button-calm">Suggestion</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
