<ion-view view-title="Handy Man">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" href="#/tab/chats1">
        <img ng-src="img/Repair-icon.png">
        <h2>Complaint</h2>
        <p></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <!-- <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button> -->
      </ion-item>
       <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" href="#/tab/chats2">
        <img ng-src="img/Accept-icon.png">
        <h2>Notification</h2>
        <p></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <!-- <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button> -->
      </ion-item>
       <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" href="#/tab/chats3">
        <img ng-src="img/notification.png">
        <h2>Status</h2>
        <p></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <!-- <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button> -->
      </ion-item>
     </ion-list>
  </ion-content>
</ion-view>
